@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@605&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

body {
    overflow-x: hidden;

    .homesection {
        background: rgb(17, 17, 17) !important;
        position: absolute;
        background-size: cover;
        min-height: 100vh;
        background-position: center top;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }

        ul {
            position: relative !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding: 10px;

            li {
                padding: 10px;
                transition: 0.4s;
                position: relative;
                color: rgb(235, 222, 222);
                cursor: pointer;


                &::after {
                    content: "";
                    position: absolute;
                    background-color: red;
                    height: 3px;
                    width: 0;
                    left: 0;

                    bottom: -5px !important;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100% !important;
                }

                // &:hover {
                //     background-color: rgba(255, 255, 255, 0.322);
                //     border-radius: 13px;
                //     cursor: pointer;
                // }
            }
        }

        .disigner1 {
            text-align: center;
            margin-top: 100px;

            .designer2 {
                background-color: rgba(82, 80, 80, 0.295);
                width: 100%;
                height: 100vh;
                top: -100px !important;
                position: relative;

                .disigner {
                    position: relative;
                    text-align: center;
                    color: white;
                    display: inline-block;
                    width: 300px;
                    height: 200px;
                    padding-top: 130px;

                    h1 {
                        cursor: pointer;
                        font-size: 25px;
                    }

                    p {
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;

                    }


                    .btn {
                        padding: 15px;
                        border-radius: 10px;
                        color: white;
                        font-size: 14px;
                        background-color: rgb(226, 13, 13) !important;
                    }
                }
            }
        }
    }

    .custom {
        margin-top: 750px !important;
        padding: 0 100px 100px 100px !important;

        .title {
            font-size: 50px;
        }

        h1 {
            font-family: 'Yellowtail', cursive;
            font-weight: 600;
            cursor: pointer;
        }

        .col-lg-3 {
            padding: 10px 10px 30px;

            p {
                font-weight: bold;
            }

            .fas {
                padding: 20px;
            }
        }
    }

    .lifeTime {
        position: absolute;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 400px;
        left: 0;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        div {
            background-color: rgba(82, 80, 80, 0.295);
            width: 100%;
            height: 400px;
            position: relative;
            top: 0 !important;
            text-align: center;
            top: 160px;
            color: white;

            div {
                padding-top: 120px;

                h1 {
                    font-family: 'Yellowtail', cursive;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 40px;
                }

                .btn {
                    border-radius: 10px;

                }

            }
        }
    }

    .works {
        padding: 100px !important;

        .title4 {
            font-family: 'Indie Flower', cursive;
            font-size: 50px;
            color: rgb(97, 93, 93);
        }

        p {
            font-family: 'Josefin Sans', sans-serif;
        }

        .services {
            padding: 20px 25px !important;

            p {
                font-family: 'Josefin Sans', sans-serif;
            }

            .number {
                color: rgb(105, 99, 99);
                font-size: 45px;
                font-family: 'Dancing Script', cursive;
            }

            .title3 {
                font-size: 30px;
                font-family: 'Otomanopee One', sans-serif;
            }
        }
    }

    .barc1 {
        background-color: rgba(82, 80, 80, 0.486);
        width: 100%;
        height: 400px;
        position: relative;
        top: 0 !important;

        div {
            padding-top: 120px;
        }
    }

    .kitt {
        h1 {
            font-family: 'Yellowtail', cursive;
            cursor: pointer;
            font-weight: 500;
            font-size: 40px;
        }

        .romann {
            padding: 40px 0 !important;

            .barc3 {
                p {
                    font-family: 'Josefin Sans', sans-serif;
                    padding-top: 15px;
                    cursor: pointer;
                }

                img {
                    border-radius: 15px;
                    height: auto;
                    // height: 500px;
                    width: 100%;
                    transition: 0.7s;
                    object-fit: cover;

                    &:hover {
                        transition: 1s;
                        transition-duration: 1s;
                        transform: translateY(-30px);
                    }
                }
            }
        }

        div {
            h1 {
                font-size: 35px;
                font-weight: 600;
                cursor: pointer;
            }

            button {
                padding: 10px;
                border-radius: 10px;
                background-color: blueviolet;
                color: white;
                border: 2px solid blueviolet;
            }
        }
    }

    .photoSection {
        padding: 0 0 50px;
        background-color: rgb(113, 238, 82);
        height: 500px;

        h1 {
            padding-top: 20px;
            cursor: pointer;
            font-family: 'Yellowtail', cursive;
        }

        .img1 {
            div {
                padding: 0;

                img {
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        a img {
            width: 30px;
            height: 30px;
        }

        .last2 {
            a {
                color: white !important;
                padding: 20px !important;
                font-weight: bold;
                text-decoration: none;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    background-color: red;
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: 10px;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100% !important;
                }
            }
        }
    }

    .barccc {
        padding: 20px 0 20px;
        background-color: black;
        display: block !important;

        h1 {
            font-size: 20px;
            color: white;
            cursor: pointer;
            font-family: 'Josefin Sans', sans-serif;

            a {
                text-decoration: none;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    background-color: rgb(0, 255, 34);
                    height: 3px;
                    width: 0;
                    left: 0;
                    top: 18px;
                    bottom: -10px;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100% !important;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .designer {
            h1 {
                font-size: 20px !important;
            }

            p {
                font-size: 5px !important;
            }
        }

        .photoSection {
            background-color: rgb(69, 238, 69);
            height: auto;
        }

        .barccc {
            display: none !important;
        }
    }


}